<ul class="list-group">

  <li class="list-group-item" ng-show="ctrl.lights.length === 0">
    <h4>Loading HUE groups</h4>
  </li>

  <li class="list-group-item" ng-repeat="group in ctrl.lights">
    <h4>{{group.name}}</h4>
    <button type="button" class="btn btn-primary" ng-click="ctrl.toggleGroup(group)">{{ctrl.getButtonText(group)}}</button>

    <input type='range' min='0' max='254' ng-model="group.state.bri"
           ng-change="ctrl.setBrightness($index, group)"
           ng-disabled="group.action.on === false"/>
  </li>
</ul>
