@import "../../less/bootstrap/bootstrap";

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 150%;
}

.device-name {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  a, a:hover {
    color: @hmc-text;
    text-decoration: none;
  }
}

.group-list {
  float: left;
  width: 100%;
}

.sensor-list > .row,
.device-row {
  margin-bottom: 10px;
}

.core-message {
  position: fixed;
  z-index: 100;
  width: 50%;
  margin-left: 25%;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.3);
}

.config-checkbox {
  width: 40px;
}


.hue-device-controls .hue-controls .row > div {
  border-top: none;
  line-height: 15px;
  padding-top: 5px;
}

.hue-controls {
}

.hue-toggle {
  cursor: pointer;
}

.device-remove {
  cursor: pointer;
}

.scheduler-form p {
  padding-top: 20px;
}

.generic-group,
.zwave-switch-binary,
.zwave-switch-multilevel,
.zwave-sensor-binary,
.zwave-sensor-multilevel,
.telldus-device,
.telldus-group,
.telldus-sensor,
.hue-device,
.hue-group {
  /* padding: 5px 10px;
   font-size: 14px; */
  color: #6e6f72;
  background-color: black;
  letter-spacing: normal;
  text-transform: lowercase;
}

.love {
  color: #ff188e;
}

.device-card,
.group-card,
.sensor-card,
.schedule-card {
  min-height: 24vh;
  border: #222326 1px solid;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #222326;
  border-radius: 4px;
  border-left: 2px #84bd00 solid;
}

.schedule-card {
  min-height: auto;

}

.schedule-card .plusminus,
.schedule-card table {
  color: #6e6f72;
}

.group-card {
  min-height: auto;
  background-color: #17181b;
}

.group-device-card-container {
  padding-top: 10px;
}

.sensor-card {
  min-height: 150px;
}

.device-card .btn {
  min-width: 80px;
  margin-bottom: 5px;
}

.device-level {
  color: #84bd00;
}


.panel-success > .panel-heading {
//  background-color: #222326;
  border-bottom: 2px #84bd00 solid;
}

.hmc-button-row {
  padding-bottom: 10px;
}

.scheduler-form .device-card,
.group-edit .device-card {
  background-color: #17181b;
}

.hue-device-controls {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 45;
  box-shadow: #000 0px 0px 34px;
}

.btn.ng-enter, .btn.ng-leave, .btn.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.btn.ng-enter, .btn.ng-move {
  opacity: 0;
}

.btn.ng-move.ng-move-active, .btn.ng-enter.ng-enter-active {
  opacity: 1;
}

.btn.ng-leave {
  opacity: 1;
}

.btn.ng-leave.ng-leave-active {
  opacity: 0;
}

// ---

.device-card.animate-enter,
.device-card.animate-leave
{
  -webkit-transition: 1300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
  -moz-transition: 1300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
  -ms-transition: 1300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
  -o-transition: 1300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
  transition: 1300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
  position: relative;
  display: block;
}

.device-card.animate-enter.animate-enter-active,
.device-card.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.device-card.animate-leave.animate-leave-active,
.device-card.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}