@import "../../less/bootstrap/bootstrap";

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 150%;
}

.love {
  color: #ff188e;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #000;
  opacity: 1;
}

.device-name {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  a, a:hover {
    color: @hmc-text;
    text-decoration: none;
  }
}

.group-list {
  float: left;
  width: 100%;
}

.sensor-list > .row,
.device-row {
  margin-bottom: 10px;
}

.core-message {
  position: fixed;
  z-index: 100;
  width: 50%;
  margin-left: 25%;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.3);
}

.config-checkbox {
  width: 40px;
}


.hue-device-controls .hue-controls .row > div {
  border-top: none;
  line-height: 15px;
  padding-top: 5px;
}

.hue-controls {
}

.hue-toggle {
  cursor: pointer;
}

.device-remove {
  cursor: pointer;
}

.scheduler-form p {
  padding-top: 20px;
}

.generic-group,
.zwave-switch-binary,
.zwave-switch-multilevel,
.zwave-sensor-binary,
.zwave-sensor-multilevel,
.telldus-device,
.telldus-group,
.telldus-sensor,
.hue-device,
.hue-group {
  /* padding: 5px 10px;
   font-size: 14px; */
  color: #6e6f72;
  background-color: black;
  letter-spacing: normal;
  text-transform: lowercase;
}



.device-card,
.group-card,
.sensor-card,
.schedule-card {
  min-height: 80px;
  border: #222326 1px solid;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #222326;
  border-radius: 4px;
  border-left: 2px #84bd00 solid;
  box-shadow: 0px 0px 8px rgba(0,0,0, 0.9);

  .btn-link {
    height: 26px; // ???
  }
}

.schedule-card {
  min-height: auto;

}

.schedule-card .plusminus,
.schedule-card table {
  color: #6e6f72;
}

.group-card {
  min-height: auto;
  background-color: #17181b;
}

.group-device-card-container {
  padding-top: 10px;
}

.sensor-card {
  min-height: 150px;
}

.device-card .btn {
  min-width: 80px;
  margin-bottom: 5px;
}

.device-level {
  color: #84bd00;
}


.panel-success > .panel-heading {
//  background-color: #222326;
  border-bottom: 2px #84bd00 solid;
}

.hmc-button-row {
  padding-bottom: 10px;
}

.scheduler-form .device-card,
.group-edit .device-card {
  background-color: #17181b;
}

