{
  "port": 8080,
  "secret": "topsecret",
  "mongo": {
    "url": "<host>:27017/homeMasterController_dev",
    "opts": {
      "server": {
        "socketOptions": {
          "keepAlive": 1
        }
      }
    }
  },
  "location": {
    "lat": 57.7,
    "lng": 11.9667
  }
}
