<div class="group-edit">

  <button type="button" class="btn btn-danger" ng-click="ctrl.deleteGroup()">Delete group</button>
  <div class="row">
    <div class="col-sm-6">
      <p>Enter a name for the group</p>
      <input class="form-control" type="text" ng-model="ctrl.group.name" placeholder="Name" ng-required="true"/>

      <p>Select devices to add to the group</p>
      <item-selector items="ctrl.devices"></item-selector>

      <p>Select groups to add to the group</p>
      <item-selector items="ctrl.groups"></item-selector>
    </div>
    <div class="col-sm-6">

      <p>Devices and groups that will be part of the group</p>

      <p ng-show="ctrl.isEmptyGroup()">Empty group</p>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in ctrl.selectedItems track by $index">
          {{item.name}}
          <span class="badge device-remove" ng-click="ctrl.removeItem($index)"><span
            class="glyphicon glyphicon-remove"></span></span>
          <span class="badge">{{item.type}}</span>
        </li>
      </ul>

    </div>
  </div>
  <button type="button" ng-click="ctrl.saveGroup()" class="btn btn-primary pull-right">Save group</button>

</div>
