<div class="group-list">

  <p ng-show="ctrl.groups.length === 0">Loading groups..</p>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>State</th>
      <th></th>
    </tr>
    <tr ng-repeat="group in ctrl.groups | orderBy:'name'">
      <td>{{group.name}}</td>
      <td>{{group.type}}</td>
      <td>{{ctrl.getState(group)}}</td>
      <td>
        <button ng-click="ctrl.toggleGroup(group)" type="button" class="btn btn-primary pull-right">{{ctrl.buttonText(group)}}</button>
      </td>
    </tr>
  </table>
</div>
