<div class="group-list">

  <p ng-show="ctrl.groups.length === 0">Loading groups..</p>

  <div class="row group-list-header">
    <div class="col-sm-3">Name</div>
    <div class="col-sm-3 hidden-xs">Type</div>
    <div class="col-sm-3 hidden-xs">State</div>
    <div class="col-sm-3 hidden-xs"></div>
  </div>

  <div ng-repeat="group in ctrl.groups | orderBy:'name'">
    <div class="row" >
      <div class="col-sm-3"><a ui-sref="root.groups.edit({id:group.id, type:group.type})">{{group.name}}</a></div>
      <div class="col-sm-3 hidden-xs">{{group.type}}</div>
      <div class="col-sm-3 hidden-xs">{{ctrl.getState(group)}}</div>
      <div class="col-sm-3">
        <button ng-click="ctrl.toggleGroup(group)" type="button"
                class="btn btn-primary pull-right"
                ng-class="{'btn-success':group.state.on}">
          {{ctrl.buttonText(group)}}
        </button>

      </div>
    </div>

    <div class="row" ng-if="group.deviceList">
      <ul>
        <li ng-repeat="device in group.deviceList">{{device.name}}</li>
      </ul>
    </div>


  </div>
</div>

