<ul class="list-group">

  <li class="list-group-item" ng-show="ctrl.sensors.length === 0">
    <h4>Loading sensors..</h4>
  </li>

  <li class="list-group-item" ng-repeat="sensor in ctrl.sensors">
    <h4>{{sensor.name}}</h4>
    <p>{{sensor.data[0].name}}: {{sensor.data[0].value}} degrees</p>
    <!--<ul>
      <li ng-repeat="reading in sensor.readings | orderBy:reading.date | limitTo:1">
        {{reading.date | date: 'fullDate'}}: {{reading.data}}: {{reading.value}} degrees
      </li>
    </ul>-->
  </li>
</ul>
