<div class="group-list">

  <p ng-show="ctrl.groups.length === 0">Loading groups..</p>

  <div ng-repeat="group in ctrl.groups | orderBy:'name'" class="group-card">

    <div class="row-separator">
      <div class="row">
        <div class="col-sm-9 device-name">
          <a ui-sref="root.groups.edit({id:group.id, type:group.type})">{{group.name}}<br/>
            <span class="badge {{group.type}}">{{group.type}}</span>
          </a>
        </div>
        <div class="col-sm-3">
          <button ng-click="ctrl.toggleGroup(group)" type="button"
                  class="btn btn-primary pull-right"
                  ng-class="{'btn-success':group.state.on}">
            {{ctrl.buttonText(group)}}
          </button>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4"   ng-if="group.deviceList" ng-repeat="device in group.deviceList">
          <div class="device-card">

        <span class="device-name">{{device.name}} - {{device.state.on ? 'On':'Off'}}</span><br/>
        <span class="badge {{device.type}}">{{device.type}}</span>
    </div>
    </div>
  </div>
  </div>
</div>
</div>