<div>

  <div class="col-xs-12 hmc-button-row">
    <button ui-sref="root.scheduler.create" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-plus"></span> Create schedule</button>
  </div>

  <div ng-repeat="schedule in $ctrl.schedules">
    <div class="col-xs-12">
      <div class="schedule-card animated fadeIn">

        <div class="row">
          <div class="col-sm-6 device-name">
            <a ui-sref="root.scheduler.edit({id:schedule._id})"><span class="glyphicon glyphicon-pencil"></span> {{schedule.name}}</a>
          </div>
          <div class="col-sm-3 device-name">
            <span class="plusminus">Action:</span> {{schedule.action}}
          </div>
          <div class="col-sm-3 device-name">
            <span class="pull-right">{{schedule.time}} <span class="plusminus">&plusmn;{{schedule.random || 0}} min</span></span>
          </div>
        </div>
        <table class="table">
          <tbody>
          <tr>
            <td class="{{$ctrl.getDayClass('mon', schedule.weekdays)}}">MON</td>
            <td class="{{$ctrl.getDayClass('tue', schedule.weekdays)}}">TUE</td>
            <td class="{{$ctrl.getDayClass('wed', schedule.weekdays)}}">WED</td>
            <td class="{{$ctrl.getDayClass('thu', schedule.weekdays)}}">THU</td>
            <td class="{{$ctrl.getDayClass('fri', schedule.weekdays)}}">FRI</td>
            <td class="{{$ctrl.getDayClass('sat', schedule.weekdays)}}">SAT</td>
            <td class="{{$ctrl.getDayClass('sun', schedule.weekdays)}}">SUN</td>
          </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-4" ng-repeat="device in schedule.devices">
            <div class="group-card">
              {{device.name}}<br/><span class="badge {{device.type}}">{{device.type}}</span></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>