<div>

  <div class="col-xs-12 hmc-button-row">
    <button ui-sref="root.scheduler.create" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-plus"></span> Create schedule</button>
  </div>

  <div ng-repeat="schedule in $ctrl.schedules">
    <div class="col-xs-12">
      <div class="schedule-card animated fadeIn">

        <div class="row">
          <div class="col-sm-6 device-name">
            <a ui-sref="root.scheduler.edit({id:schedule._id})"><span class="glyphicon glyphicon-pencil"></span> {{schedule.name}}</a>
          </div>
          <div class="col-sm-3 device-name">
            <span class="plusminus">Action:</span> {{schedule.action}}
          </div>
          <div class="col-sm-3 device-name">
            <span class="pull-right">{{schedule.time}} <span class="plusminus">&plusmn;{{schedule.random || 0}} min</span></span>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-2 {{$ctrl.getDayClass('mon', schedule.weekdays)}}">MON</div>
            <div class="col-xs-2 {{$ctrl.getDayClass('tue', schedule.weekdays)}}">TUE</div>
            <div class="col-xs-2 {{$ctrl.getDayClass('wed', schedule.weekdays)}}">WED</div>
            <div class="col-xs-2 {{$ctrl.getDayClass('thu', schedule.weekdays)}}">THU</div>
            <div class="col-xs-2 {{$ctrl.getDayClass('fri', schedule.weekdays)}}">FRI</div>
            <div class="col-xs-6 {{$ctrl.getDayClass('sat', schedule.weekdays)}}">SAT</div>
            <div class="col-xs-6 {{$ctrl.getDayClass('sun', schedule.weekdays)}}">SUN</div>
        </div>

        <div class="row">
          <div class="col-sm-4" ng-repeat="device in schedule.devices">
            <div class="group-card">
              {{device.name}}<br/><span class="badge {{device.type}}">{{device.type}}</span></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>