<div class="group-edit">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="panel panel-default panel-success">
        <div class="panel-heading">
          <h3 class="panel-title" ng-show="!$ctrl.isEditMode()">Create Group</h3>

          <h3 class="panel-title" ng-show="$ctrl.isEditMode()">Edit Group</h3>
        </div>
        <div class="panel-body">

          <p>Enter a name for the group</p>
          <input class="form-control" type="text" ng-model="$ctrl.group.name" placeholder="Name" ng-required="true"/>

          <p>Select devices/groups to add to the group</p>
          <item-selector items="$ctrl.devices"></item-selector>

          <p ng-show="$ctrl.isEmptyGroup()">You have not selected anything!</p>

          <div class="col-sm-12 action-button-row">
            <button type="button" class="action-button"
                    ng-show="!$ctrl.isEmptyGroup() && $ctrl.group.name.length > 0"
                    ng-click="$ctrl.save()">
              <span class="glyphicon glyphicon-save"></span>
              Save group</button>
            <button type="button"
                    ng-show="$ctrl.isEditMode()"
                    class="delete-button" ng-click="$ctrl.deleteGroup()">
              <span class="glyphicon glyphicon-trash"></span>
              Delete group
            </button>
          </div>


        </div>
      </div>
    </div>

  </div>


</div>
