<div>

  <form ng-submit="ctrl.saveConfiguration()">
    <div class="row">
      <div class="col-sm-6">
        <h4>Telldus</h4>

        <div class="form-group">
          <p>Public key</p>
          <input class="form-control" type="text" ng-model="ctrl.config.telldus.publicKey"
                 placeholder="public key"/>
        </div>
        <div class="form-group">
          <p>Private key</p>
          <input class="form-control" type="text" ng-model="ctrl.config.telldus.privateKey"
                 placeholder="private key"/>
        </div>
        <div class="form-group">
          <p>Access token</p>
          <input class="form-control" type="text" ng-model="ctrl.config.telldus.accessToken"
                 placeholder="access token"/>
        </div>
        <div class="form-group">
          <p>Access token secret</p>
          <input class="form-control" type="text" ng-model="ctrl.config.telldus.accessTokenSecret"
                 placeholder="access token secret"/>
        </div>
      </div>
      <div class="col-sm-6">
        <h4>Philips Hue</h4>

        <p>Endpoint url</p>
        <input class="form-control" type="text" ng-model="ctrl.config.hue.endpoint" placeholder="hue endpoint"/>

        <h4>Z-Wave</h4>

        <p>Endpoint url</p>
        <input class="form-control" type="text" ng-model="ctrl.config.zwave.endpoint" placeholder="zwave endpoint"/>

      </div>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Save</button>
  </form>

</div>
