body {
    font-family: "Play", Helvetica, Arial, sans-serif;
    padding-top: 70px;
}


/*
 Telldus device layout
*/

.telldus-device {
}

.telldus-device .device-row  td {
}

/*
 Hue device layout
*/
.hue-device {

}

.hue-device .device-row  td {
    border-bottom: none;
}

.hue-device .hue-device-row td {
    border-top: none;
}

.hue-controls {
    border: #eee 1px solid;
}