body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding-top: 70px;
}

.core-message {
    position: absolute;
    z-index: 100;
    width: 50%;
    margin-left: 25%;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.3);
}

.config-checkbox {
    width: 40px;
}


.device-list-header,
.group-list-header,
.sensor-list-header {
    font-weight: bold;
}

.hue-device .row,
.zwave-device .row,
.telldus-device .row {
    padding: 10px 0;
}

.hue-device .row > div,
.telldus-device .row > div,
.zwave-device .row > div,
.group-list .row > div,
.sensor-list .row > div {
    border-top: #000 1px solid;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hue-device .hue-controls .row > div {
    border-top: none;
    line-height: 15px;
    padding-top: 5px;
}

.hue-controls {
}

.hue-toggle {
    cursor: pointer;
}


.device-remove {
    cursor: pointer;
}

.love {
    color: #ff188e;
}
