body {
    font-family: "Play", Helvetica, Arial, sans-serif;
    padding-top: 70px;
}

.device-list-header,
.group-list-header,
.sensor-list-header{
    font-weight: bold;
}

.hue-device     .row,
.telldus-device .row {
    padding: 10px 0;
}

.hue-device     .row > div,
.telldus-device .row > div,
.group-list     .row > div,
.sensor-list    .row > div {
    border-top: #eee 1px solid;
    line-height: 25px;
    padding-top: 10px;
}

.hue-device .hue-controls .row > div {
    border-top: none;
    line-height: 15px;
    padding-top: 5px;
}

.hue-controls {
    color: #337AB7;
}