<div class="col-md-4">
  <div class="device-card">
    <div class="row device-row">
      <div class="col-sm-9 device-name">
        {{ctrl.device.name}}<br/>
        <span class="badge {{ctrl.device.type}}">{{ctrl.device.type}}</span>
      </div>
      <div class="col-sm-3">
        <span class="device-name pull-right device-level" ng-show="ctrl.showDeviceLevel()">{{ctrl.device.state.level}}</span>
        <div class="btn-group pull-right">
          <button ng-if="ctrl.isHueDevice()"
                  ng-click="ctrl.toggleShowControls()"
                  type="button"
                  class="btn btn-default"
                  ng-class="{'btn-default':ctrl.showControls}">
            Modify
          </button>
        <button ng-click="ctrl.toggleDevice()" ng-show="ctrl.canToggleDevice()"
                type="button"
                class="btn btn-default"
                ng-class="{'btn-primary':ctrl.device.state.on}">
          {{ctrl.buttonText()}}
        </button>
        </div>
      </div>
    </div>
    <hue-controls device="ctrl.device" ng-if="ctrl.isHueDevice() && ctrl.showControls()"/>
  </div>

</div>