<ul class="list-group">

  <li class="list-group-item" ng-show="ctrl.devices.length === 0">
    <h4>Loading devices..</h4>
  </li>

  <li class="list-group-item" ng-repeat="device in ctrl.devices">
    <h4>{{device.name}}</h4>

  <!--  <p>Supported methods: {{ctrl.getSupportedMethods(device)}}</p>
    <p>States: {{ctrl.getStates(device)}}</p>
    <p>Is On?: {{ctrl.isOn(device)}}</p>
    <p>Motorized: {{ctrl.isMotorized(device)}}</p>-->

    <div>
    <button ng-click="ctrl.toggleDevice($index, device)"
            type="button"
            class="btn btn-primary">{{ctrl.getButtonText(device)}}</button>

    </div>
  </li>
</ul>
