<div ng-show="ctrl.device.type === 'hue-device'" class="hue-device">

  <div class="row">
    <div class="col-sm-4">
      <a ng-click="ctrl.toggleControls()" class="hue-toggle">{{ctrl.device.name}}</a>
    </div>
    <div class="col-sm-2 hidden-xs">
      <a ng-href="/api/device/{{ctrl.device.id}}?type={{ctrl.device.type}}">{{ctrl.device.id}}</a>
    </div>
    <div class="col-sm-2 hidden-xs">
      {{ctrl.device.type}}
    </div>
    <div class="col-sm-2 hidden-xs">
      {{ctrl.getState()}}
    </div>
    <div class="col-sm-2">
      <button ng-click="ctrl.toggleDevice()" type="button" class="btn btn-primary pull-right" ng-class="{'btn-success':ctrl.device.state.on}">{{ctrl.buttonText()}}
      </button>
    </div>
  </div>

  <div class="hue-controls" ng-show="ctrl.showControls">

    <div class="panel panel-default">
      <div class="panel-heading">{{ctrl.device.manufacturername}} {{ctrl.device.modelid}}</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-sm-4">Brightness</div>
          <div class="col-sm-2">{{ctrl.device.state.bri}}</div>
          <div class="col-sm-6">
            <input type='range' min='0' max='254'
                   ng-model="ctrl.device.state.bri"
                   ng-change="ctrl.setBrightness()"
                   ng-disabled="ctrl.device.state.on === false"/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">Saturation</div>
          <div class="col-sm-2">{{ctrl.device.state.sat}}</div>
          <div class="col-sm-6">
            <input type='range' min='0' max='254'
                   ng-model="ctrl.device.state.sat"
                   ng-change="ctrl.setSaturation()"
                   ng-disabled="ctrl.device.state.on === false"/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">Hue</div>
          <div class="col-sm-2">{{ctrl.device.state.hue}}</div>
          <div class="col-sm-6">
            <select class="form-control" ng-model="ctrl.device.state.hue" ng-change="ctrl.setHue()"
                    ng-disabled="ctrl.device.state.on === false">
              <option value="3000">Deep Orange</option>
              <option value="12750">Yellow</option>
              <option value="25500">Green</option>
              <option value="46920">Blue</option>
              <option value="56100">Pink</option>
              <option value="65280">Red</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button ng-click="ctrl.toggleColorLoop()" type="button" class="btn btn-primary pull-right" ng-class="{'btn-success':ctrl.device.state.effect !== 'none'}">{{ctrl.colorLoopText()}}
            </button>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>
