<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/devices"><span class="glyphicon glyphicon-home"></span> {{ctrl.title}}</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in ctrl.getLeftItems()"
            ui-sref-active="active"
            ui-sref="{{item.state}}">
          <a href="#">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in ctrl.getRightItems()"
            ui-sref-active="active"
            ui-sref="{{item.state}}">
          <a href="#"><span ng-show="item.icon" class="{{item.icon}}"></span> {{item.title}}</a>
        </li>
      </ul>

     </div>
  </div>
</nav>
