<div class="device-list">
  <p ng-show="!ctrl.showDevices()">Loading devices..</p>

  <div ng-repeat="device in ctrl.devices | orderBy:'name'">

      <div class="col-md-4">
          <div class="device-card">




    <!-- DEVICE -->
    <div class="row device-row">
      <div class="col-sm-9 device-name">{{device.name}}<br/><span class="badge {{device.type}}">{{device.type}}</span></div>
      <div class="col-sm-3">
          <span class="device-name pull-right device-level" ng-show="device.state.level !== undefined">{{device.state.level}}</span>
        <button ng-click="ctrl.toggleDevice(device)" ng-show="device.state.on !== undefined"
                type="button"
                class="btn btn-default pull-right"
                ng-class="{'btn-primary':device.state.on}">
                {{ctrl.buttonText(device)}}
        </button>
        <button ng-show="device.type === 'hue-device'"
                ng-click="ctrl.toggleShowControls(device)"
                type="button"
                class="btn btn-default pull-right"
                ng-class="{'btn-default':ctrl.showControls}">
          Modify
        </button>
      </div>
    </div>

      <!-- <div ng-show="device.type === 'zwave-switch-multilevel'">
          <input type='range' min='0' max='100'
                 ng-model="device.state.level"
                 ng-change="ctrl.setLevel(device)" />
      </div> -->

    <!-- HUE DEVICE -->
    <div ng-show="device.type === 'hue-device'" class="hue-device-controls">
        <div class="hue-controls" ng-show="ctrl.showControls(device)">

          <div class="panel panel-default">
            <!--<div class="panel-heading">{{ctrl.device.manufacturername}} {{ctrl.device.modelid}}</div>-->
            <div class="panel-body">

              <div class="row">
                <div class="col-sm-4">Brightness: {{device.state.bri}}</div>
                <div class="col-sm-8">
                  <input type='range' min='0' max='254'
                         ng-model="device.state.bri"
                         ng-change="ctrl.setBrightness(device)"
                         ng-disabled="ctrl.device.state.on === false"/>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">Saturation: {{device.state.sat}}</div>
                <div class="col-sm-8">
                  <input type='range' min='0' max='254'
                         ng-model="device.state.sat"
                         ng-change="ctrl.setSaturation(device)"
                         ng-disabled="device.state.on === false"/>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">Hue: {{device.state.hue}}</div>
                <div class="col-sm-8">
                  <select class="form-control"
                          ng-model="device.state.hue"
                          ng-change="ctrl.setHue(device)"
                          ng-disabled="device.state.on === false">
                    <option value="3000">Deep Orange</option>
                    <option value="12750">Yellow</option>
                    <option value="25500">Green</option>
                    <option value="46920">Blue</option>
                    <option value="56100">Pink</option>
                    <option value="65280">Red</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">Color looping</div>
                <div class="col-sm-8">
                  <button ng-click="ctrl.toggleColorLoop(device)"
                          type="button"
                          class="btn btn-default"
                          ng-class="{'btn-primary':device.state.effect !== 'none'}">
                    {{ctrl.colorLoopText(device)}}
                  </button>
                </div>
              </div>


            </div>
          </div>

      </div>

    </div>

          </div>

      </div>

  </div>
</div>
