<div class="device-card">
  <div class="row device-row">
    <div class="col-sm-12 device-name">
      {{$ctrl.device.name}}
      <button ng-if="$ctrl.controlsEnabled() && $ctrl.isHueDevice()"
              ng-click="$ctrl.toggleShowControls()"
              type="button"
              class="btn-link pull-right"
              ng-class="{'btn-default':$ctrl.showControls()}">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
    <div class="col-sm-6"><span class="badge {{$ctrl.device.type}}">{{$ctrl.device.type}}</span></div>
    <div class="col-sm-6">

      <div class="btn-group pull-right">

        <button type="button"
                class="btn sexy-button"
                ng-if="$ctrl.device.state.on === false"
                ng-click="$ctrl.turnOn()">
          Enable
        </button>

        <button type="button"
                class="btn sexy-button active"
                ng-if="$ctrl.device.state.on === true"
                ng-click="$ctrl.turnOff()">
          Disable
        </button>

      </div>
    </div>
  </div>
  <hue-controls device="$ctrl.device" ng-if="$ctrl.isHueDevice() && $ctrl.showControls()"/>
</div>
