<div class="device-config-wrapper" ng-if="$ctrl.isVisible()">
  <div class="device-config">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        {{$ctrl.selectedDevice.name}}
      </div>
      <div class="col-sm-12">
        <hue-controls device="$ctrl.selectedDevice" ng-if="$ctrl.isHueDevice()"></hue-controls>

        <div class="action-button-row">
          <button ng-click="$ctrl.close()" class="action-button pull-right"><span
            class="glyphicon glyphicon-remove"></span> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
