<div class="hue-device-controls">
  <div class="hue-controls">


    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="form-control-static">Brightness {{$ctrl.device.state.bri}}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input type='range' class="form-control"
               min='0'
               max='254'
               ng-model="$ctrl.device.state.bri"
               ng-change="$ctrl.setBrightness()"
               ng-disabled="$ctrl.deviceDisabled()"/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="form-control-static">Saturation {{$ctrl.device.state.sat}}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input type='range' class="form-control"
               min='0'
               max='254'
               ng-model="device.state.sat"
               ng-change="$ctrl.setSaturation()"
               ng-disabled="$ctrl.deviceDisabled()"/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="form-control-static">Hue {{$ctrl.device.state.hue}}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <sexy-selector items="$ctrl.colors" model="$ctrl.device.state.hue"></sexy-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p class="form-control-static">Color looping</p>
      </div>
      <div class="col-xs-12 col-sm-8">
        <button ng-click="$ctrl.enableColorLoop()"
                type="button"
                class="btn btn-default">
          Enable
        </button>
        <button ng-click="$ctrl.disableColorLoop()"
                type="button"
                class="btn btn-default">
          Disable
        </button>
      </div>
    </div>

  </div>

</div>
