<div class="hue-device-controls animated fadeIn">
  <div class="hue-controls">


    <div class="row" ng-if="$ctrl.hasLink('set-brightness')">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="form-control-static">Brightness {{$ctrl.device.state.bri}}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input type='range' class="form-control"
               min='0'
               max='254'
               ng-model="$ctrl.device.state.bri"
               ng-change="$ctrl.handleLink('set-brightness', $ctrl.device.state.bri)"
               ng-disabled="$ctrl.deviceDisabled()"/>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.hasLink('set-saturation')">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="form-control-static">Saturation {{$ctrl.device.state.sat}}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input type='range' class="form-control"
               min='0'
               max='254'
               ng-model="device.state.sat"
               ng-change="$ctrl.handleLink('set-saturation', $ctrl.device.state.sat)"
               ng-disabled="$ctrl.deviceDisabled()"/>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.hasLink('set-hue')">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="form-control-static">Hue {{$ctrl.device.state.hue}}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <select class="form-control"
                ng-model="$ctrl.device.state.hue"
                ng-change="$ctrl.handleLink('set-hue', $ctrl.device.state.hue)"
                ng-disabled="$ctrl.deviceDisabled()">
          <option value="3000">Deep Orange</option>
          <option value="12750">Yellow</option>
          <option value="25500">Green</option>
          <option value="46920">Blue</option>
          <option value="56100">Pink</option>
          <option value="65280">Red</option>
        </select>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.hasLink('colorloop-on')">
      <div class="col-xs-12 col-sm-4">
        <p class="form-control-static">Color looping</p>
      </div>
      <div class="col-xs-12 col-sm-8">
        <button ng-click="$ctrl.handleLink('colorloop-on', $ctrl.device.state.effect)"
                type="button"
                class="btn btn-default"
                ng-class="{'btn-primary':$ctrl.device.state.effect !== 'none'}">
          {{$ctrl.colorLoopText(device)}}
        </button>
      </div>
    </div>

  </div>

</div>