<div class="jumbotron animated bounceIn">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>About</h3>
      <img src="images/peter-3.jpg" class="img-responsive img-circle pull-right about-image"/>
      <p>Written with <span class="glyphicon glyphicon-heart love"></span> by <a href="http://leinonen.se">Peter Leinonen</a>, 2015.</p>
      <p>Using NodeJS, AngularJS and Bootstrap.</p>
      <p>Also check out <a href="http://pharatropic.se">Pharatropic.se</a></p>
    </div>
  </div>

</div>

