<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Create Event</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="ctrl.submitForm()">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Name your event</p>
                            <input type="text" ng-model="ctrl.form.name" class="form-control" placeholder="name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <p>Select Sensor</p>
                            <item-selector items="ctrl.sensors"/>
                            <p>{{ctrl.selectedSensor.name}}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>Sensor Action:</p>
                            <select class="form-control" ng-model="ctrl.sensorAction">
                                <option value="on">On</option>
                                <option value="off">Off</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <p>Select devices:</p>
                            <item-selector items="ctrl.devices"/>
                            <p ng-repeat="device in ctrl.selectedDevices">{{device.name}}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>Device Action:</p>
                            <select class="form-control" ng-model="ctrl.deviceAction">
                                <option value="on">On</option>
                                <option value="off">Off</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Save the shit</button>
                </form>
            </div>
        </div>
    </div>
</div>
