<div class="row scheduler-form">
  <div class="col-md-8">

    <div class="row">
      <div class="col-sm-5">
        <p>Name</p>
        <input type="text" ng-model="ctrl.schedule.name" class="form-control" placeholder="Name.."/>
      </div>
      <div class="col-sm-7">
        <p>Select devices</p>
        <item-selector items="ctrl.devices"></item-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <p>Action</p>
        <select class="form-control" ng-model="ctrl.schedule.action">
          <option value="on">On</option>
          <option value="off">Off</option>
        </select>
      </div>
      <div class="col-sm-4">
        <p>Time</p>
        <input type="text" ng-model="ctrl.schedule.time" class="form-control"
               placeholder="00:00" ng-disabled="ctrl.isSunriseOrSunset()"/>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="ctrl.schedule.sunrise">Sunrise
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="ctrl.schedule.sunset">Sunset
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <p>Randomize (mins)</p>
        <input type="text" ng-model="ctrl.schedule.random" class="form-control" placeholder="0"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>Weekdays</p>
        <table class="table">
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
          <tr>
            <td><input type="checkbox" ng-model="ctrl.weekdays.mon" class="checkbox-inline"/></td>
            <td><input type="checkbox" ng-model="ctrl.weekdays.tue" class="checkbox-inline"/></td>
            <td><input type="checkbox" ng-model="ctrl.weekdays.wed" class="checkbox-inline"/></td>
            <td><input type="checkbox" ng-model="ctrl.weekdays.thu" class="checkbox-inline"/></td>
            <td><input type="checkbox" ng-model="ctrl.weekdays.fri" class="checkbox-inline"/></td>
            <td><input type="checkbox" ng-model="ctrl.weekdays.sat" class="checkbox-inline"/></td>
            <td><input type="checkbox" ng-model="ctrl.weekdays.sun" class="checkbox-inline"/></td>
          </tr>
        </table>

        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="ctrl.selectWorkdays()">Workdays</button>
          <button type="button" class="btn btn-default" ng-click="ctrl.selectWeekend()">Weekend</button>
          <button type="button" class="btn btn-default" ng-click="ctrl.selectFullWeek()">All</button>
        </div>


      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="row">
      <div class="col-sm-12">
        <p>Selected devices</p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in ctrl.selectedDevices track by $index">
          <span class="badge device-remove" ng-click="ctrl.removeDevice($index)"><span
            class="glyphicon glyphicon-remove"></span></span>
            <span class="badge">{{item.type}}</span>
            {{item.name}}
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="button"
              class="btn btn-primary pull-right"
              ng-click="ctrl.updateSchedule()">Save
      </button>
    </div>
  </div>


</div>