<div>

  <form ng-submit="ctrl.saveConfiguration()">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

        <h3>Edit configuration</h3>

        <div class="panel panel-default" ng-class="{'panel-success': ctrl.config.hue.enabled}">
          <div class="panel-heading">
            <h3 class="panel-title">Philips Hue</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <p>Enable Philips Hue integration</p>
              <input type="checkbox"
                     ng-model="ctrl.config.hue.enabled"
                     class="form-control config-checkbox">
            </div>

            <p>Endpoint url</p>
            <input class="form-control" type="text"
                   ng-model="ctrl.config.hue.endpoint"
                   ng-disabled="!ctrl.config.hue.enabled"
                   placeholder="hue endpoint"/>

          </div>
        </div>


        <div class="panel panel-default" ng-class="{'panel-success': ctrl.config.telldus.enabled}">
          <div class="panel-heading">
            <h3 class="panel-title">Telldus Live</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <p>Enable telldus integration</p>
              <input type="checkbox"
                     ng-model="ctrl.config.telldus.enabled"
                     class="form-control config-checkbox">
            </div>

            <div class="form-group">
              <p>Endpoint</p>
              <input class="form-control" type="text"
                     ng-model="ctrl.config.telldus.endpoint"
                     ng-disabled="!ctrl.config.telldus.enabled"
                     placeholder="Endpoint"/>
            </div>

            <div class="form-group">
              <p>Public key</p>
              <input class="form-control" type="text"
                     ng-model="ctrl.config.telldus.publicKey"
                     ng-disabled="!ctrl.config.telldus.enabled"
                     placeholder="public key"/>
            </div>
            <div class="form-group">
              <p>Private key</p>
              <input class="form-control" type="text"
                     ng-model="ctrl.config.telldus.privateKey"
                     ng-disabled="!ctrl.config.telldus.enabled"
                     placeholder="private key"/>
            </div>
            <div class="form-group">
              <p>Access token</p>
              <input class="form-control" type="text"
                     ng-model="ctrl.config.telldus.accessToken"
                     ng-disabled="!ctrl.config.telldus.enabled"
                     placeholder="access token"/>
            </div>
            <div class="form-group">
              <p>Access token secret</p>
              <input class="form-control" type="text"
                     ng-model="ctrl.config.telldus.accessTokenSecret"
                     ng-disabled="!ctrl.config.telldus.enabled"
                     placeholder="access token secret"/>
            </div>

          </div>
        </div>



        <div class="panel panel-default" ng-class="{'panel-success': ctrl.config.zwave.enabled}">
          <div class="panel-heading">
            <h3 class="panel-title">RaZberry Z-Wave Controller</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <p>Enable Z-Wave integration</p>
              <input type="checkbox"
                     ng-model="ctrl.config.zwave.enabled"
                     class="form-control config-checkbox">
            </div>

            <div class="form-group">
              <p>Endpoint url</p>
              <input class="form-control" type="text"
                     ng-model="ctrl.config.zwave.endpoint"
                     ng-disabled="!ctrl.config.zwave.enabled"
                     placeholder="zwave endpoint"/>
            </div>

            <div class="form-group">
               <p>Username</p>
               <input class="form-control" type="text"
                      ng-model="ctrl.config.zwave.username"
                      ng-disabled="!ctrl.config.zwave.enabled"
                      placeholder="Username"/>
            </div>
            <div class="form-group">
              <p>Password</p>
              <input class="form-control" type="password"
                     ng-model="ctrl.config.zwave.password"
                     ng-disabled="!ctrl.config.zwave.enabled"
                     placeholder="zwave password"/>
           </div>
          </div>
        </div>


        <button class="btn btn-primary btn-lg pull-right" type="submit">Save</button>

      </div>
    </div>

  </form>

</div>
